$primaryColor: rgba(0, 0, 0, 0.87);
$secondaryColor: rgba(0, 0, 0, 0.6);
$searchBarColor: rgba(0, 0, 0, 0.5);

$descriptionCharacterNameColor: rgb(8, 31, 50);         // #081F32
$descriptionCharacterInfoTextColor: rgb(142, 142, 147); // #8E8E93
$descriptionItemTitleColor: rgb(8, 31, 50);             // #081F32
$descriptionItemTextColor: rgb(110, 121, 140);          // #6E798C
$descriptionItemImgBorderColor: rgb(242, 242, 247);     // #F2F2F7
$descriptionPseudoBorderColor: rgba(33, 33, 33, 0.08);
