.error {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100vh;
    }

    &__header {
        display: flex;
        flex-direction: column;
        font-size: 36px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-size: 24px;
    }

    &__link {
        display: inline-flex;
        margin: 0 5px;
        padding: 5px 10px;
        font-weight: bold;
        border: 4px solid lightgreen;
        border-radius: 30px;
    }

    &__politeResponse {
        text-align: center;
        margin-top: 15px;
        font-size: 30px;
    }
}